body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #ede9d7 url('bg.png');
  color: #4d4d4d;
  max-width: 800px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#todoapp {
  background: #ede9d7;
  padding-left: 10px;
  border: 3px solid #ccc;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.alpaca-container-label{
  background-color: #f6f46c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

thead{
  font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.alpaca-field-radio{
  font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container-fluid.alpaca-wizard-back{
  background-color: #f6f46c; /*no funciona*/
}

.alpaca-control.checkbox{
  float:left;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.ficha-checkbox{
  /*float:left;*/
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}


#sync-error, #sync-success, #sync-process {
  display: none;
}

[data-sync-state=process] #sync-process {
  display: block;
}

[data-sync-state=syncing] #sync-success {
  display: block;
}

[data-sync-state=error] #sync-error {
  display: block;
}
