
<!DOCTYPE html>
               <html lang="es">
               {% include 'components/head.html' %}
               <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
               <body>
                 <script type="text/javascript">
                    var rutTerapeuta="{{user.user_name}}"
                 </script>
                   <div id="wrapper">
                     {% include 'components/nav-account.html' %}
                       <div id="page-wrapper">
                         <div id="laficha"></div>

                           <script type="text/javascript">
                               $(document).ready(function() {
                                 $("#laficha").load('../../../../ficha9.html');
                               });
                           </script>

                       </div>
                   </div>
               </body>
               </html>
