
<!DOCTYPE html>
               <html lang="es">
               {% include 'components/head.html' %}

               <body>
                   <div id="wrapper">
                       {% include 'components/nav-account.html' %}
                       <div id="page-wrapper">
                           {% include 'components/alerts.html' %}

                           <iframe src='/fichamtch/ficha7.html' width="900" height="1024"><iframe>

                           {% include 'components/footer.html' %}
                       </div>
                   </div>
               </body>
               </html>
